<%-include('./header.ejs') %> 
<%-include('./sidebar.ejs')%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- Main content -->
      <div class="content">
        <div class="container">
            <form action="/admin/UserUpdate/<%=d._id%>" method="post" >
                <div class="form-group">
                  <label for="">Name:</label>
                  <input type="text" name="n" class="form-control" value="<%= d.name %>"/>
                </div>
                <div class="form-group">
                  <label for="">Email:</label>
                  <input type="email" name="e" class="form-control" value="<%= d.email %>" />
                </div>
                <div class="form-group">
                  <label for="">Password:</label>
                  <input type="password" name="p" class="form-control" value="<%= d.password %>" />
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
              </form>
          <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="Addstudent">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add user</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<%-include('./footer.ejs')%>
