<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>

    <!-- CSS Link -->
    <link rel="stylesheet" href="./style.css">

    <!-- Bootstrap Link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>

    <!-- Navbar -->
    <section id="navbar" class="fixed-top">
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
            <div class="container-fluid">
                <button class="navbar-toggler mobileViewButton" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="true"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse d-lg-flex collapse justify-content-between text-center"
                    id="navbarsExample11">
                    <a class="navbar-brand col-lg-3 me-0 webViewPosition" href="#">
                        <img class="rounded-circle" src="./image/logo.jpeg" alt="logo" width="50px" height="50px">
                    </a>
                    <ul class="navbar-nav col-lg-6 justify-content-lg-end">
                        <li class="nav-item my-auto">
                            <a class="nav-link active text-dark" aria-current="page" href="/home">HOME</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link text-dark" href="/about">ABOUT</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a class="nav-link text-dark" href="/contact">CONTACT</a>
                        </li>
                        <li class="nav-item my-auto">
                            <a style="text-transform: uppercase;" class="nav-link text-dark" href="#"><%= n%></a>
                        </li>
                        <li class="nav-item dropdown my-auto">
                            <a href="#"
                                class="nav-link d-block link-body-emphasis text-decoration-none dropdown-toggle text-dark"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src=<%= i.url%> alt="mdo" width="40" height="40"
                                    class="rounded-circle">
                            </a>
                            <ul class="dropdown-menu text-small">
                                
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/logout">Log out</a></li>
                            </ul>
                        </li>
                        <li class="nav-item my-auto">
                            <a href="/logout" class="btn btn-primary me-3 border-light">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>
    <!-- End Navbar -->


    <div class="container">
        <div class="row">
          <div class="col-md-4 text-center mx-auto">
            <h2 class="text-center bg-info">Profile</h2>
            <div class="card">
              <img src="<%= i.url %>" alt="" width="" style="border-radius: 30px" />
              <div class="card-body">
                <h4>Name: <%= n %></h4>
                <h4>Email: <%= e %></h4>
                <br />
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#updateprofile"
                  class="btn btn-primary"
                >
                  Update profile
                </button>
                <button
                  data-bs-toggle="modal"
                  data-bs-target="#ChangePassword"
                  class="btn btn-primary"
                >
                  Change Password
                </button>
              </div>
            </div>
            <!-- card end -->
          </div>
        </div>
        <!-- row end -->
      </div>
      
      <!--updateProfile Modal -->
      <div
        class="modal fade"
        id="updateprofile"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Profile Update</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form
                action="/updateProfile"
                method="post"
                enctype="multipart/form-data"
              >
                <div class="mb-3">
                  <label for="">Name</label>
                  <input
                    type="text"
                    value="<%= n %>"
                    name="name"
                    class="form-control"
                  />
                </div>
                <div class="mb-3">
                  <label for="">Email</label>
                  <input
                    type="text"
                    value="<%= e %>"
                    name="email"
                    class="form-control"
                  />
                </div>
                <div class="mb-3">
                  <label for="">Image</label>
                  <input type="file" name="image" class="form-control" />
                  <img src="<%= i.url %>" alt="" width="50" />
                </div>
      
                <button type="submit" class="btn btn-success">Update Profile</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--End updateProfile Modal -->
      
      <!--Change Password Modal -->
      <div
        class="modal fade"
        id="ChangePassword"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <form action="/changePassword" method="post">
                <div class="mb-3">
                  <label for="">Old Password</label>
                  <input type="password" name="op" class="form-control" />
                </div>
                <div class="mb-3">
                  <label for="">New Password</label>
                  <input type="password" name="np" class="form-control" />
                </div>
                <div class="mb-3">
                  <label for="">Confirm Password</label>
                  <input type="password" name="cp" class="form-control" />
                </div>
                <button type="submit" class="btn btn-success">Change Password</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--End Change Password Modal -->


    <!-- Footer -->
    <section id="footer">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 p-5 mt-5 border-top justify-content-between">

                <div class="col mb-3">
                    <label class="text-dark text-uppercase mb-4 fw-bold fs-5 p-2">Our Constituent Colleges</label>
                    <!-- <h5 class="text-dark text-uppercase mb-4"><em>Our Constituent Colleges</em></h5> -->
                    <ul class="nav flex-column p-2">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Institute of Engineering
                                and Technology, Gwalior</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Institute of Engineering
                                and Technology, Lucknow</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <label class="text-dark text-uppercase mb-4 fw-bold fs-5 p-2">Useful Links</label>
                    <ul class="nav flex-column p-2">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Home</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">About Us</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Contact</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark">Log out</a></li>
                    </ul>
                </div>

                <div class="col mb-3">
                    <label class="text-dark text-uppercase mb-4 fw-bold fs-5 p-2">Personal Detail</label>
                    <ul class="nav flex-column p-2">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark"><i
                                    class="fa-solid fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;hr@mpct.in</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark"><i
                                    class="fa-solid fa-phone"></i>&nbsp;&nbsp;&nbsp;&nbsp;9956082314</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-dark"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;&nbsp;&nbsp;Gwalior, U.P.,India</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </section>
    <!-- End Footer -->

    <!-- Social Media Link -->
    <section id="social">
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 border-top">

                <!-- <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
                    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-facebook fs-4"></i></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-youtube fs-4"></i></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-linkedin fs-4"></i></a></li>
                    <li class="ms-3"><a class="text-white" href="#"><i class="fa-brands fa-twitter fs-4"></i></a></li>
                </ul> -->

                <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
                    <li class="ms-3 my-auto"><a class="text-white" href="#"><img src="./image/fb-icon.png" alt="facebook icon" width="30px" height="30px"></a></li>
                    <li class="ms-3 my-auto"><a class="text-white" href="#"><img src="./image/yt-icon.jpeg" alt="youtube icon" width="40px" height="40px"></a></li>
                    <li class="ms-3 my-auto"><a class="text-white" href="#"><img src="./image/linkedin-icon.webp" alt="linkedin icon" width="30px" height="30px"></a></li>
                    <li class="ms-3 my-auto"><a class="text-white" href="#"><img src="./image/twitter-icon.png" alt="twitter icon" width="30px" height="30px"></a></li>
                </ul>

            </footer>
        </div>
    </section>
    <!-- End Social Media Link -->

    <!-- Java Script Link -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>