<%-include('../header.ejs') %>
 <%-include('../sidebar.ejs')%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">dashboard</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header">
              
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <% if(msg1.length > 0){ %>
                <div class="alert alert-success">
                    <!-- To Print -->
                     <%= msg1 %>
                </div>
                <% } %>
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Comment</th>
            <th></th>
            <th></th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <% d.forEach((item)=>{ %> -->
                    <tr>
                      <td><%= d._id %></td>
                      <td><%= d.name %></td>
                      <td><%= d.email %></td>
                      <td><%= d.course %></td>
                      <td><%= d.status %></td>
                      <td><%= d.comment %></td>
                      <!-- <td><%= item.password %></td> -->
                      <td>
                        <form action="/admin/updateStatus/<%= item.id %>" method="post">
                          <textarea name="comment" id=""></textarea>
                        
                      </td>
                      <td>
                      <button type="submit" class="btn btn-info text-white" name="status" value="Approved">Approved</button>
                      <button type="submit" class="btn btn-danger" name="status" value="Rejected">Rejected</button>
                      </form>
                      </td>
                    <td>
                      
                      <a href="/admin/viewUser/<%= d._id %>" class="btn btn-info">View</a>
                      <!-- <a href="/admin/editUser/<%= item._id %>" class="btn btn-success">Edit</a> -->
                      <a href="/admin/deleteUser/<%= d._id %>" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                 <!-- <%  }) %> -->
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Course</th>
                    <th>Status</th>
                    <th>Comment</th>
                   <th></th>
                   <th></th>
                    <th> Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="Addstudent">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Add user</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">

        <form action="/admin/userInsert" method="post">
          <div class="card-body">
            <div class="form-group">
              <label for="">Name:</label>
              <input type="text" name="n" class="form-control" />
            </div>
            <div class="form-group">
              <label for="">Email:</label>
              <input type="email" name="e" class="form-control" />
            </div>
            <div class="form-group">
              <label for="">Password:</label>
              <input type="password" name="p" class="form-control" />
            </div>

                           
            <button type="submit" class="btn btn-info">Submit</button>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
    </div> 
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<%-include('../footer.ejs')%>
