




    <br /><br /><br />
    <h1 class="bg-info text-center mt-5">Course View</h1>
    <div class="container">
      <table class="table table-bordered text-center">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>Course</th>
          <th>Status</th>
          <th>Comment</th>
          <!-- <th>Action</th> -->
        </tr>

     
        <tr>
          <td><%= d._id %></td>
          <td><%= d.name %></td>
          <td><%= d.email %></td>
          <td><%= d.course %></td>
          <td><%= d.status %></td>
          <td><%= d.comment %></td>
        
        </tr>
     
      </table>
 
    </div>

